:root {
    --color-fondo: #e7f3ff;
    --color-texto: #ffffff;
    --color-principal: #6200ff;
    --color-hover: #f0f0f0;
    --color-sidebar-bg: #ffffff;
}

/* Estilos para el fondo */
#bg-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw; /* Usa el ancho de la ventana */
    height: 100vh; /* Usa la altura de la ventana */
    transform: translate(-50%, -50%);
    opacity: 0.15;
    pointer-events: none; /* Para que no interfiera con otros elementos */
}

/* -------------------- Estilos Generales -------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

/* -------------------- Estilos para el Header -------------------- */
header {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1a1a1a, #6200ff, #00aaff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contenedorCabecera {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 180px;
    margin-right: 20px;
}

.titulo-container {
    text-align: center; /* Centrar el contenido dentro del contenedor */
    flex-grow: 1; /* Permitir que el contenedor ocupe espacio */
}

.tituloPortafolio {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    padding-bottom: 10px;
}

.tituloPortafolio:hover {
    transform: scale(1.05);
}

.menu-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.menu-button:hover{
    color: #ffcc00;
}

.sobre-mi {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sobre-mi nav ul {
    display: flex; /* Para mostrar los elementos en línea */
    list-style: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar padding por defecto */
    margin: 0; /* Eliminar margen por defecto */
}

.sobre-mi nav ul li {
    position: relative;
    margin: 0 15px; /* Espaciado entre los elementos de la lista */
}

.sobre-mi nav a {
    color: var(--color-texto); /* Color de texto */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s ease; /* Transición suave al cambiar color */
}

.sobre-mi nav a:hover {
    color: #ffcc00; /* Color de texto al pasar el cursor */
}

.nombre { 
    font-size: 1.5rem; /* Tamaño de letra para el nombre */
    font-style: italic; /* Estilo cursivo */
    margin: 0; /* Sin margen */
    color: white; /* Color del texto */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    transition: font-family 0.3s ease; /* Transición suave para el cambio de fuente */
    font-family: 'Dancing Script', cursive; /* Fuente por defecto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el nombre */
}

/* Animación de caída */
.caer {
    animation: caer 1.5s forwards; /* Aplicar la animación de caída */
}

@keyframes caer {
    0% {
        transform: translateY(0) rotate(0deg); /* Posición inicial */
    }
    25% {
        transform: translateY(-30px) rotate(-10deg); /* Subir y girar un poco */
    }
    50% {
        transform: translateY(0) rotate(10deg); /* Volver a la posición original y girar */
    }
    100% {
        transform: translateY(100vh) rotate(0deg); /* Caer fuera de la pantalla */
    }
}

/* -------------------- Estilos para la Sidebar -------------------- */
.sidebar {
    opacity: 0;
    pointer-events: none;
    width: 300px;
    background-color: var(--color-sidebar-bg);
    border-right: 2px solid var(--color-principal);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: -280px;
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
    opacity: 1; /* Haciendo visible el menú */
    pointer-events: auto; /* Habilita clics cuando está visible */
}

.sidebar header {
    background-color: var(--color-principal);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: #ffcc00;
}

/* Enlaces de la Sidebar */
.sidebar .menu a {
    display: block;
    padding: 15px;
    color: var(--color-principal);
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .menu a:hover {
    background-color: var(--color-hover);
}

/* Estilos para los submenús */
.sidebar .submenu, .sidebar .sub-submenu {
    display: none; /* Ocultos por defecto */
    padding-left: 15px; /* Indentación para los submenús */
}

.sidebar .menu li:hover .submenu,
.sidebar .submenu li:hover .sub-submenu {
    display: block; /* Mostrar en hover */
}

.sidebar .submenu a, .sidebar .sub-submenu a {
    color: var(--color-principal);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.sidebar .submenu a:hover, .sidebar .sub-submenu a:hover {
    background-color: var(--color-hover);
}

/* -------------------- Estilos para el Breadcrumb -------------------- */
.contenedor-breadcrumb {
    margin: 20px auto;
    max-width: 1200px;
    padding: .75rem 1rem;
    border-radius: .25rem;
}

.breadcrumb {
    background-color: white !important;
    background-color: transparent !important;
}

/* -------------------- Estilos para Main -------------------- */
main {
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 30px; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Estilos para los botones */
.button {
    background-color: #26216e;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #306ea1;
    color: white;
}

/* Divider */
.section-divider {
    border: 1px solid #747474; 
    margin: 20px 0; 
}

/* Animaciones */
.fade-in {
    opacity: 0;
}

.fade-in.active {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* --------------------  Estilos para [Semana01-trabajos.html] -------------------- */
/* -------------------- Estilos para la sección de imágenes -------------------- */
.image-gallery {
    display: flex;
    justify-content: center; /* Centra la galería horizontalmente */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten a varias filas si es necesario */
    gap: 20px; /* Espacio entre las imágenes */
    padding: 20px;
}

.image-item {
    text-align: center; /* Centra el texto debajo de la imagen */
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
}

.image-item img {
    max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Añade bordes redondeados a las imágenes */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: transform 0.2s; /* Efecto suave al aumentar el tamaño */
}

.image-item img:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
}

/*--------------Estilos para [Semana01-clase.html]--------------*/
/* Estilos de imagenes" */
.dato-image {
    width: 300px; /* Tamaño específico para la imagen de "Dato" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.informacion-image {
    width: 500px; /* Tamaño específico para la imagen de "Información" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.informatica-image {
    width: 200px; /* Tamaño específico para la imagen de "Informática" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.base-de-datos-image {
    width: 300px; /* Tamaño específico para la imagen de "Dato" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.caracteristicas-image {
    width: 450px; /* Ajusta el tamaño deseado */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.diferencias-image {
    width: 350px; /* Tamaño específico para la imagen de "Diferencias" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.sgbd-image {
    width: 1000px; /* Tamaño específico para la imagen de "SGBD" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.funciones-sgbd-image {
    width: 500px; /* Tamaño específico para la imagen de "Funciones SGBD" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

.ventajas-sgbd-image {
    width: 450px; /* Tamaño específico para la imagen de "Funciones SGBD" */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto 15px; /* Centrar la imagen y espacio debajo */
    display: block; /* Hacer la imagen un bloque para poder centrarla */
}

/* Estilo para el visualizador el video */


/* -------------------- Estilos para la sección de descargas -------------------- */
/* Estilos */

/* -------------------- Estilos para la sección del visualizador de pdf  -------------------- */
/* Estilos */
/* -------------------- FIN Estilos para [Semana01-trabajos.html] -------------------- */

/* -------------------- Estilos para el Footer -------------------- */
footer {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #1a1a1a, #6200ff, #00aaff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    transition: background-color 1s ease;
}

.contenedor-footer-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    width: 100%;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 12px;
}

/* Estilos para redes sociales */
.footer-socials {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.footer-socials a {
    margin-left: 15px;
    font-size: 35px;
    color: inherit; /* Para heredar el color blanco */
}

/* Párrafos en el footer */
.footer-info p, .footer-contact p {
    margin: 3px 0;
    text-align: center;
}

/* Estilo para enlaces de correo */
.footer-info a, .footer-contact a {
    color: #ffcc00; /* Asegura que los enlaces sean blancos */
    text-decoration: none; /* Elimina el subrayado */
}

.footer-info a:hover, .footer-contact a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}